.login-name{
	@include Opacity(0.5);
}

.card {
    border-color: #EDEDED;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.side-nav-layout{

	.side-checklist {
	    background-color: rgba(255,255,255,0.3);
	    border-radius: 12px;
	    box-shadow: 0 0 16px rgba(0,0,0,.05);
	    padding: 16px;
	    width: 220px !important;
        height: calc(100% - 48px);
        min-height: initial;
        overflow-y: auto;

	    h6{
	    	font-size: 0.9rem;
	    	font-weight: 600;
	    }
	    .checklist-menu {
		    margin-left: -16px;
		    margin-right: -16px;

		    > li{
		    	border-bottom: solid 1px #EDEDED;
		    	/*@include Opacity(0.5);*/
	    		position: relative;

			    &:before{
			    	/*content: "";*/
			    	position: absolute;
			    	left:0;
			    	right:0;
			    	top:0;
			    	bottom:0;
			    	z-index: 1;
			    }

			    a{
			    	padding:12px 4px 12px 12px;
			    	font-size: 13px;
			    	text-decoration: none;
			    	display: flex;
			    	color: #333333;

			    	.check-icon {
					    margin-top: 1px;
					    margin-right: 6px;
					    font-size: 16px;
					    color: #DFBE76;
					}
					&:hover{
						background-color: #fff;
				    }
			    }
			    &.active{
			    	background-color: #fff;
			    	@include Opacity(1);

			    	&:before{
			    		display: none;
			    	}

				    a{
				    	color: #007d40;
				    	font-weight: 600;
				    }
			    }

			    &.completed{
			    	@include Opacity(1);

			    	&:before{
			    		display: none;
			    	}
			    	.check-icon {
				    	color: #007d40;

				    	&:before{
				    		font-weight: 900;
    						content: "\f058";
				    	}
			    	}
			    }
		    }

		    .has-sub-menu{

			    .drop-btn{
			    	padding: 10px;
			    	cursor: pointer;
			    	font-size: 14px;
			    	color: #98999A;

			    	&:hover{
			    		background-color: rgba(0,0,0,0.015);
			    	}
			    }
			    &.active{
			    	.drop-btn{
			    		color: #007d40;
			    	}
			    }
		    }
		    .completed.with-comments{
		    	padding-right: 30px;

		    	&:after{
		    		font-family: 'Font Awesome 5 Free';
				    font-weight: 400;
				    content: "\f4ad";
				    position: absolute;
				    right: 12px;
				    top: 50%;
				    margin-top: -10px;
				    color: #CA5256;
	    		}
		    }
		    .sub-menu {
		    	list-style-type: none;
		    	margin-bottom: 16px;
	    	    padding-left: 30px;
    			padding-right: 4px;
    			display: none;

		    	> li{

		    		a{
				    	position: relative;
					    padding: 4px 8px 4px 24px;
					    color: #545454;
					    font-weight: 400;

					    &:before{
					        font-family: 'Font Awesome 5 Free';
						    font-weight: 900;
						    content: "\f00c";
						    position: absolute;
						    left: 4px;
						    top: 6px;
						    font-size: 12px;
					    	color: #D4D4D4;
					    }
					    &.completed:before{
			    			color: #007d40;
					    }

					    &:hover{
					    	color: #000000;

					    	span{
					    		text-decoration: underline;
				    		}
					    }
				    }
			    }
			}

			.has-sub-menu.open{
				
				.sub-menu{
					display: block;
				}
			}
		}
	}

	.content-section{
	    padding-left: calc(220px + 24px);
	}
}


.card.course-title {
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 2px 6px rgba(0,0,0,0.02);
    border-color: rgba(237,237,237,0.6);

    .card-body{
    	padding-top: 16px;
    	padding-bottom: 16px;

	    h6{
	    	color: #646464;
	    }
    }
}

.form-accordian{
	position: relative;
	display: block;
	
	&:before {
	    content: "";
	    background-image: linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0), rgba(246, 246, 246, 0.5));
	    width: 100%;
	    height: calc(100% - 36px);
	    display: block;
	    position: absolute;
	    bottom: 0;
	    z-index: 0;
	}
	.fa-caret-down, .fa-caret-up{
		color: $gray-500;
	}
	.card-body{
		z-index: 2;
	}
	
	.card-header{
	    font-weight: 600;
	    font-size: 0.85rem;

		.check-icon{
			font-size: 12px;
			margin-right: 8px;
			color: #D4D4D4;
		}
		label{
			margin-bottom: 0;
		}
	}

	.form-group{
		
		lable {
		    font-size: 0.8rem;
		    margin-bottom: 5px;
		    display: block;
	        font-weight: 600;
		}
	}
	.input-group-text{
		font-size: 0.7rem;
		padding: 0;
		padding-right: 4px;
		margin: 0;
	}

	&.completed{

		.card-header{
			background-color: #D9ECE2;
			color: #007D40;

			.check-icon{
				color: #007d40;
			}
		}
	}

	.table .thead-light th{
		background-color: $gray-100;
		border-color: $gray-200;
	}

}

.nav-tabs{
	border-bottom: 2px solid #EADBBC;

	.nav-item{
		margin-bottom: 0;
	}
	.nav-link{
		color: #545454;
		font-weight: 600;
		background-color: $gray-100;
		margin-right: 12px;

		&.active{
			background-color: #EDE1C7 !important;
			border-color: #EDE1C7 !important;
		}
	}
}

/*.courses-list{
	width: auto;

	td{
		width: 10%;
	}
	.version{
		width: 10%;
	}
	.course-code{
		width: 15%;
	}
	.course-title{
		width: 25%;
	}
	.credit-hrs{
		width: 10%;		
	}
	.last-update{
		width: 15%;
	}
	.status{
		width: 15%;
	}
}
*/


.accordion-toggle{
	cursor: pointer;
}
.version-row{
	background-color: #F4F4F4;

	td{
		border-top: none;
		padding-top: 4px !important;
		padding-bottom: 4px !important;
	}
}


/* chariman-view-layout */

.chariman-view-layout{
	overflow: hidden;
    min-height: 580px;

	.side-nav-layout{
		height: 100%;
	}
}

.view-table{
    width: 100%;

    tr{

		&.header{
			background-color: #F6F6F6;
		}

	    td {
		    padding: 8px 24px 8px 0;
		    vertical-align: text-bottom;
		    border-bottom: solid 1px #EDEDED;

		    &:first-child{
    			width: 130px;
		    }
		}

		&:last-child{

			td{
				border-bottom: none;
			}
		}
	}
	&.group-table{
		border-bottom: solid 1px #ECE0E0;

		&:last-child{
			border: none;
		}
		
		tr{


	    	td {
    		    border: none;
			    padding-top: 4px;
			    padding-bottom: 4px;
	    	}
    	}
	}
	&.numbered{
	    counter-increment: my-sec-counter;

	    tr.header td:first-child{
	    	position: relative;
	    
	    	&:before {
			    position: absolute;
			    left: 6px;
			    font-size: 12px;
			    line-height: 24px;
			    color: #777777;
			    content: counter(my-sec-counter);
			}
		}
	}
}

.view-list{
	list-style: none;
    padding-left: 0;
    margin-bottom: 16px;

	li{
		border-bottom: solid 1px #E5E5E5;
	    padding: 8px 0;

	    &:last-child{
	    	border-bottom: none;
	    }
	}
}

#touchScroller
{
    width:100%;
    position: relative;
    font-size: 14px;
    line-height: 22px;
    /*overflow: hidden;*/
    display: inline-block;

    .card{
	    position: relative;
	    float: left;
	    margin-bottom: 32px;
	    border: none;
	    border-radius: 12px;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -o-user-select: none;
	    user-select: none;
	    @include box-shadow(0, 8px, 12px, rgba(0, 0, 0, 0.04));
	    overflow: hidden;
	    width: 100%;
	    /*height: calc(100% - 32px);*/
        min-height: 280px;

	    &.large-card{
    	    width: 55em;
	    }
	    &.full-card{
    	    width: 100%;
    	    margin:0;
	    }

		.card-subtitle{
			font-size: 14px;
		    font-weight: 600 !important;
		    color: #000000;
		}
	    .card-body{
    	    /*height: auto;*/


	    	.card-text {
			    /*height: calc(100% - 32px);*/
			    margin-left: -1.25rem;
    			margin-right: -1.25rem;
			    /*overflow: auto;*/

    			.view-table tr td:first-child, .view-list li, .plain-content{
				    padding-left: 1.25rem;
    			}
    			.view-table tr td:last-child, .view-list li, .plain-content{
				    padding-right: 1.25rem;
    			}
			}
	    }

	    .card-footer{
	    	border: none;
	    	background-color: rgba(237,237,237,0.45);
	    	margin-top: 0;
    	    padding-top: 24px;
    		padding-bottom: 24px;
    		position: relative;

    		&, *{
    			transition: all 0.2s ease;
    			-webkit-transition: all 0.2s ease;
    			-moz-transition: all 0.2s ease;
    			-o-transition: all 0.2s ease;
    		}

	    	.comment-btn, .check-btn{
	    		border-radius: 50%;
			    border-width: 2px;
			    width: 48px;
			    height: 48px;
			    font-size: 20px;
		        margin: 0 16px;
	    	}

	    	.action-section{
	    		position: relative;
	    	}

	    	.comment-section{

	    		span, .comments{
	    			display: none;

	    			.form-control{
	    				border: none;
					    font-size: 14px;
					    min-height: 68px;
	    			}
	    		}
	    	}
	    	.cap-btn{
			    background-color: transparent;
			    padding: 0;
			    text-transform: uppercase;
			    font-size: 12px;
			    color: #747474;
			    font-weight: 600;
			    border: none;

			    &:hover{
			    	text-decoration: underline;
			    	color: #333333;
			    }
	    	}
	    	.undo-btn{
	    		display: none;
			    position: absolute;
			    right: 0;
			    top: 0;
			    z-index:1000;
	    	}

	    }

	    &.checked {
		    background-color: #EAF2ED;

		    .card-footer{
		    	background-color: rgba(255,255,255,0.3);
	    		text-align: left !important;
	    		justify-content: left !important;
	    		width: 100%;

	    		&:before{
	    			content: "";
				    position: absolute;
				    left: 0;
				    top: 0;
				    width:100%;
				    bottom:0;
				    z-index: 999;
				    display: block;
	    		}

	    		.check-btn{
	    			background-color: #007d40;
	    			color: #ffffff;
	    		}

	    		.comment-section{
	    			display: none;
	    		}
	    		.undo-btn{
	    			display: block;
	    			top: 50%;
	    			margin-top: -8px;
	    		}
		    }

		    .view-table tr{

		    	&.header{
		    		background-color: rgba(0, 0, 0, 0.03);
		    	}

			    td{
			    	border-color: #D6E2DB;
			    }
		    }

			.view-list{

				li{
					border-color: #D6E2DB;
				}
			}

			.nav-tabs{

				.nav-link{
					background-color: rgba(0, 0, 0, 0.03);
				}
			}

			.plain-content{

				.table{
					border-color: rgba(0, 0, 0, 0.05) !important;

					.thead-light{
						th{
							background-color: rgba(0, 0, 0, 0.03);
    						border-color: rgba(0, 0, 0, 0.05);
						}
					}
					td{
						border-color: rgba(0, 0, 0, 0.05) !important;
					}
				}
			}

		}

	    &.commented {
		    background-color: #FBF5F5;

		    .card-footer{
		    	background-color: rgba(255,255,255,0.3);

		    	.comment-section{
		    		text-align: left;
		    		width: 100%;

		    		&:before{
		    			content: "";
					    position: absolute;
					    left: 0;
					    top: 0;
					    z-index: 999;
					    width: 100%;
					    display: block;
					    height: 50px;
		    		}

		    		.comment-btn{
		    			transition: none;
		    			-webkit-transition: none;
		    			-moz-transition:none;
		    			-o-transition: none;
		    			background-color: transparent;
		    			border: none;
		    			box-shadow: none;
		    			font-size: 16px;
		    			padding: 0;
		    			margin:0 0 12px 0;
		    			width: auto;
		    			height: auto;
		    			text-align: left;
		    			display: flex;
	    			    align-items: center;
				        -webkit-box-align: center;
				        -ms-flex-align: center;
				        color: #dc3545 !important;

				        span{
				        	margin-left: 4px;
				        	font-size: 13px;
				        }
		    		}

		    		span, .comments{
		    			display: block;
		    		}
		    	}
		    	.check-section{
		    		display: none;
		    	}

	    		.undo-btn{
		    		display: block;
		    	}
		    }
			.view-table{

				tr{
			    	&.header{
			    		background-color: rgba(0, 0, 0, 0.03);
			    	}
		    	}

				&.group-table{
					border-color: #ECE0E0;

					tr{

						&.header{
							background-color: rgba(255,255,255,0.4);
						}
					}
				}
			}
			.view-list{

				li{
					border-color: #EDEDED;
				}
			}

			.nav-tabs{

				.nav-link{
					background-color: rgba(0, 0, 0, 0.03);
				}
			}

			.plain-content{

				.table{
					border-color: rgba(0, 0, 0, 0.05) !important;

					.thead-light{
						th{
							background-color: rgba(0, 0, 0, 0.03);
    						border-color: rgba(0, 0, 0, 0.05);
						}
					}
					td{
						border-color: rgba(0, 0, 0, 0.05) !important;
					}
				}
			}

		}
	}

}

.comments-histroy-section{
    margin-bottom: -16px;
    position: relative;
    z-index: 999;
    border-color: rgba(0,0,0,0.05) !important;

    .comments-history-btn {
	    font-size: 13px;
	    text-transform: none;
	    color: rgba(0,0,0,0.4);
	    font-weight: 400;
	    background-color: transparent !important;
	    padding: 0;
	    border: none;

	    &:hover{
	    	text-decoration: underline;
	    }
	}
}

.comments-list{
	list-style-type: none;
	margin:0;
	padding:0;

	li{
		border-bottom: solid 1px #E5E5E5;

		&:last-child{
			border-bottom: none;
		}
	}
}


.check-all.active{
	color: #747474;
	
	.fa-check-circle:before{
		content: "\f057";
	}
	span{
		display: none;
	}
	span.d-none{
		display: inline-block !important;
	}
}

.chat-view {
    position: relative;
    display: inline-block;
    width: 100%;

	.chat-badge {
	    width: 100%;
	    margin: 4px 0;
	    padding: 3px;
	    font-size: 12px;
	    font-weight: 400;
	    text-transform: initial;
	    text-align: center;
	    background-color: rgba(0,0,0,0.04);
	    border-radius: 4px;
        font-style: italic;
    	color: #a0a0a0;

    		.icon{
			    font-size: 13px;
			    margin-right: 6px;
    		}

		&.new-chat, &.unread-chat{
    		font-style: normal;
    		font-weight: 400;
		}
    	&.new-chat{
    		background-color: rgba(220, 196, 143, 0.15);
    		color: rgba(129, 109, 65 ,0.5);

    		.icon{
			    color: #DCC48F;
    		}
    	}
    	&.unread-chat{
    		background-color: rgba(202, 82, 86, 0.05);
    		color: rgba(202, 82, 86 ,0.5);

    		.icon{
			    color: rgba(202, 82, 86 ,0.5);

			    &:before{
			    	content:"\f086";
			    }
    		}
    	}
	}

	.chat{
		font-size: 13px;
	    line-height: 20px;
	    padding: 8px 12px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.02);
	    background-color: rgba(0, 0, 0, 0.04);
	    border: solid 1px rgba(0,0,0,0.02);
	    border-radius: 12px 12px 0 12px;
	    max-width: 280px;
	    margin: 8px 0;
	    position: relative;
	    float: right;

	    &:after {
	    	width: 0;
		    height: 0;
		    border-top: 15px solid transparent;
		    border-left: 10px solid #ededed;
		    content: "";
		    position: absolute;
		    right: -10px;
		    bottom: -1px;
		}

	    h6{
	    	font-size: 14px;
	    	font-weight: 600;
		    line-height: 24px;
	    	margin: 0;
	    }
	    p{
	    	margin-bottom: 4px;
	    }
		.chat-footer {
		    font-size: 11px;
		}

		&.friend{
			float: left;
	    	border-color: #FFFFFF;
	    	background-color: #FDFDFD;
    		border-radius: 12px 12px 12px 0;

	    	&:after{
	    		right: auto;
	    		left: -10px;
	    		border-left: none;
	    		border-right: solid 10px #FDFDFD;
	    	}
		}
	}

}

.chat-textarea {
    padding: 0px 15px 12px 15px;
    border-top: solid 1px rgba(255, 255, 255, 1);
    margin: 16px -15px -15px -15px;
    background-color: rgba(255, 255, 255, 0.3);

    textarea{
		font-size: 13px;
		min-height: 70px;
	    border-color: #f3f3f3;
	}
	.send-btn {
		position: relative;
		opacity: 0.3;

		&:before {
		    content: "";
		    position: absolute;
		    left: 0;
		    right: 0;
		    top: 0;
		    bottom: 0;
		    z-index: 999;
	        background-color: transparent;
		}

		button{
		    background-color: transparent;
		    margin: 0;
		    font-size: 13px;
		    line-height: 20px;
		    text-transform: uppercase;
		    font-weight: 600;
    		padding: 4px 0;
	    }

	    &.active{
	    	opacity: 1;

	    	button{
	    		color: #DCC48F;

	    		&:hover{
	    			color: #AD935A;
	    		}
	    	}

	    	&:before{
	    		display: none;
	    	}
	    }
	}
}


.chairman-review-checklist{
	overflow: inherit;
	height: auto !important;
	
	.side-nav-layout{

		.side-checklist{
			width: auto !important;
			max-width: 480px;
			margin: auto;
			overflow: inherit;

			.checklist-menu {
			    border-top: solid 1px #EDEDED;
			    margin-top: 16px;

			    li{

			    	&:last-child{
			    		border-bottom: none;
			    	}
				    a{
				    	padding-right: 12px;
				    }

			    }

			    .sub-menu{
			    	max-width: 320px;

			    	li{
				    	a{
				    		border-bottom: solid 1px #EDEDED;
				    		padding-top: 8px;
	    					padding-bottom: 8px;

	    					&:before{
    						    top: 8px;
	    					}
				    	}

    					&:last-child a{
    						border-bottom: none;
    					}
			    	}
			    }
			}
		}
	}
	.btn-row{
		max-width: 480px;
		margin-left: auto;
    	margin-right: auto;
    	margin-top: 32px;
	}
}

.add-this{
	display: none;
}
.delete-check{
	display: none;
}

.asteriskField {
    color: #dc3545 !important;
    margin-left: 2px;
    font-size: 13px;
}