{% load i18n %}
{% if formset.errors or formset.non_form_errors %}
	<div>
		<i class="fas fa-exclamation-triangle"></i>
		{% if formset.verbose_name %}{{ formset.verbose_name }}{% else %}
			{% trans "Formset" %}{% endif %} {% trans "Errors" %}:
		<ul>
			{% for error in formset.non_form_errors %}
				<li>{{ error }}</li>
			{% endfor %}
			{% for form1 in formset.forms %}
				{% include 'snippets/form_erros.html' with form=form1 counter=forloop.counter enclosing_tag="li" only %}
			{% endfor %}
		</ul>
	</div>
{% endif %}
