{% load i18n %}

{% if is_paginated %}
	<nav aria-label="...">
		<ul class="pagination">
			{% if page_obj.has_previous %}
				<li class="page-item">
					<a class="page-link" href="?page={{ page_obj.previous_page_number }}">{% trans 'Previous' %}</a>
				</li>
			{% else %}
				<li class="page-item disabled">
					<span class="page-link">{% trans 'Previous' %}</span>
				</li>
				{#				<li class="disabled">#}
				{#					<a href="#">#}
				{#						<span>{% trans 'Previous' %}</span>#}
				{#					</a>#}
				{#				</li>#}
			{% endif %}
			{% for page in paginator.page_range %}
				{% if page == page_obj.number %}
					<li class="page-item active">
						<span class="page-link">{{ page }}</span> <span class="sr-only">(current)</span>
					</li>
				{% else %}
					<li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
				{% endif %}
			{% endfor %}

			{% if page_obj.has_next %}
				<li class="page-item">
					<a class="page-link" href="?page={{ page_obj.next_page_number }}">
						<span>{% trans 'Next' %}</span>
					</a>
				</li>
			{% else %}
				<li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
					<span class="page-link">{% trans 'Next' %}</span>
				</li>
			{% endif %}
		</ul>
	</nav>
{% endif %}