DEBUG={{ camunda_debug|string }}

ADWAR_COURSE_REVIEWER=course_specifications_reviewer
ADWAR_COURSE_MAINTAINER=course_specifications_maintainer


DGS_DEPARTMENT_ID=113
VICE_RECTOR_JOB_TITLE_ID=40955
RECTOR_JOB_TITLE_ID=41034

