DEBUG={{ camunda_debug|string }}

ADWAR_URL={{ adwar_webservice_base_url }}
ADWAR_USERNAME={{ adwar_webservice_username }}
ADWAR_PASSWORD={{ adwar_webservice_password.json.data.value }}

STAFF_URL={{ staff_webservice_base_url }}
STAFF_USERNAME={{ staff_webservice_username }}
STAFF_PASSWORD={{ staff_webservice_password.json.data.value }}

WORKFLOW_URL={{ workflow_url }}

ADWAR_COURSE_REVIEWER=course_specifications_reviewer
ADWAR_COURSE_MAINTAINER=course_specifications_maintainer


DGS_DEPARTMENT_ID=113
VICE_RECTOR_JOB_TITLE_ID=40955
RECTOR_JOB_TITLE_ID=41034

