/* General Content CSS*/

.fit-window{
    position: relative;
}

/* Pop Up */


.thm-popup {
    background-color: rgba(255, 255, 255, 0.97);
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;

    .pop-container {
        margin: auto;
        display: none;
        max-width: 540px;

        .box-cntnt {
            background-color: #fff;
            padding: 20px 20px 40px;
        }

        .assignments {
            color: #333333;
            display: inline-block;
            font-size: 14px;
            margin: 10px 0;
            width: 100%;

            >span{
                margin-right: 5px;
            }
        }
        .assignments-list{
            background-color: #f2f2f2;
            padding: 10px 15px;
            margin: 0 0 10px 0;

            >p{
                color: #959595;
                font-size: 12px;
                margin: 5px 0 0;
            }
        }
        .recommendations {
            display: inline-block;
            margin: 10px 0 15px;
            width: 100%;
        }
    }
    
}

.contain-pop {
    position: relative;

    .thm-popup{
        display: block;
    }
}

.pop-close {
    background-image: url("../images/close-icon.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px auto;
    border: 2px solid #333333;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 40px;
    position: absolute;
    right: 25px;
    top: 20px;
    @include Opacity(0.8);
    width: 40px;
}
.pop-close:hover {
    @include Opacity(1);
}
