.navbar{
	a{
		text-decoration: none;
	}
}
.logo{
	a{
		font-size: 34px;
		line-height: 48px;
		color: #fff;
	}
}

.cases-list{

	h6 {
	    font-weight: 400;
	    font-size: 0.9em;
	}
}

.dot-split {
    font-size: 5px;
    line-height: 100%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px;
}

.list-arrow{
	font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
}

.clickable{
	
	tr:hover{
		background-color: #f7f7f7;
		cursor: pointer;
	}
}

.btn-row {
    text-align: right;

    .btn{
        margin-right: 1rem;
        &.btn:last-child{
            margin-right: 0;
        }
    }
}

#calendar{

    .btn{
        color: #262626;
        background-color: #F7F7F7;
        border-color: #F7F7F7;
    }
    .fc-today-button{
        color: #fff;
        background-color: #777777;
        border-color: #777777;
    }
    .fc-right{

        .btn{
            color: #fff;
            background-color: #777777;
            border-color: #777777;

            &.active{
                background-color: #555;
            }
        }
    }
}

.split-dot{
    font-size: 14px;
}
