{% extends 'main_app/view_course/generic_course_review_form.html' %}
{% load i18n %}
{% load humanize %}
{% load course_filters %}

{% block course-review-sections %}

	<!-- Schedule of assessment tasks for students during the semester -->
	<div class="card" id="assessment-tasks">
		<div class="row">
			<div class="col-md-7 col-12 pr-md-0">
				<div class="card-body">
					<h6 class="card-subtitle mt-1 mb-3 font-weight-bold">Schedule of assessment tasks for students
						during the semester</h6>
					<div class="card-text">
						<div class="">
							<div class="plain-content">
								<div class="row">
									<div class="col-12">
										<nav>
											<div class="nav nav-tabs" id="assessment-tab" role="tablist">
												<a class="nav-item nav-link active" id="nav-lecture-tab"
												   data-toggle="tab" href="#nav-lecture" role="tab"
												   aria-controls="nav-lecture"
												   aria-selected="true"><small>Lecture</small>
													<p class="mb-0 text-muted"><small
															class="text-dark h6 font-weight-bold">{{ course.history_object.total_lecture_assessment_tasks_weight }}%</small>
													</p></a>

												{% if course.lab_contact_hours %}
													<a class="nav-item nav-link" id="nav-laboratory-tab"
													   data-toggle="tab"
													   href="#nav-laboratory" role="tab" aria-controls="nav-laboratory"
													   aria-selected="true"><small>Laboratory</small>
														<p class="mb-0 text-muted"><small
																class="text-dark h6 font-weight-bold">{{ course.history_object.total_lab_assessment_tasks_weight }}%</small>
														</p></a>
												{% endif %}

											</div>
										</nav>
										<div class="tab-content" id="nav-tabContent">

											<!-- Lecture -->
											<div class="tab-pane fade show active has-add-content" id="nav-lecture"
											     role="tabpanel" aria-labelledby="nav-lecture-tab">

												<table class="table border">
													<thead class="thead-light">
													<tr>
														<th scope="col"
														    class="align-middle border-top-0 text-muted pt-1 pb-1"
														    width="50%">
															<small>Assessment task </small>
														</th>
														<th scope="col"
														    class="align-middle border-top-0 text-muted pt-1 pb-1">
															<small>Week due</small>
														</th>
														<th scope="col"
														    class="align-middle border-top-0 text-muted pt-1 pb-1">
															<small>Proportion of Total Assessment</small>
														</th>
													</tr>
													</thead>
													<tbody class="add-here">
													{% for task in object.assessment_tasks.all %}
														{% if task.type == 'lecture' %}
															<tr class="delete-this hours-val">
																<td scope="row" class="align-middle border-bottom">
																	<p>{{ task.assessment_task }}</p>
																</td>
																<td class="align-middle border-bottom">
																	<p>{{ task.week_due|ordinal }} week</p>
																</td>
																<td class="align-middle border-bottom">
																	<p>{{ task.weight_percentage }}%</p>
																</td>
															</tr>
														{% endif %}
													{% endfor %}
													</tbody>
												</table>
												<div class="text-right d-flex align-items-center">
													<p class="text-muted mr-auto mb-0"><small>Total semester hours =
														Weekly hours X Number of weeks per semester</small></p>
												</div>
											</div>
											<!-- /Lecture -->


											<!-- Laboratory -->
											<div class="tab-pane fade has-add-content" id="nav-laboratory"
											     role="tabpanel" aria-labelledby="nav-laboratory-tab">

												<table class="table border">
													<thead class="thead-light">
													<tr>
														<th scope="col"
														    class="align-middle border-top-0 text-muted pt-1 pb-1"
														    width="50%">
															<small>Assessment task </small>
														</th>
														<th scope="col"
														    class="align-middle border-top-0 text-muted pt-1 pb-1">
															<small>Week due</small>
														</th>
														<th scope="col"
														    class="align-middle border-top-0 text-muted pt-1 pb-1">
															<small>Proportion of Total Assessment</small>
														</th>
													</tr>
													</thead>
													<tbody class="add-here">
													{% for task in object.assessment_tasks.all %}
														{% if task.type == 'lab' %}
															<tr class="delete-this hours-val">
																<td scope="row" class="align-middle border-bottom">
																	<p>{{ task.assessment_task }}</p>
																</td>
																<td class="align-middle border-bottom">
																	<p>{{ task.week_due|ordinal }} week</p>
																</td>
																<td class="align-middle border-bottom">
																	<p>{{ task.weight_percentage }}%</p>
																</td>
															</tr>
														{% endif %}
													{% endfor %}
													</tbody>
												</table>
												<div class="text-right d-flex align-items-center">
													<p class="text-muted mr-auto mb-0"><small>Total semester hours =
														Weekly hours X Number of weeks per semester</small></p>
												</div>
											</div>
											<!-- /Laboratory -->

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Action section -->
			<div class="col-md-5 col-12 pl-md-0">
				{% create_comment object.pk comments_section_1 %}
			</div>
			<!-- /Action section -->
		</div>
	</div>
	<!-- /Actual contact hours -->

{% endblock course-review-sections %}
