{% extends 'base.html' %}
{% load i18n %}
{% load course_filters %}

{% block main_content %}
	<div class="row">
		<div class="col-12">
			<div class="card mb-4">
				<div class="card-body">
					<div class="card-title mb-0 d-flex align-items-center">
						<h5 class="mb-0 mr-auto">{% trans 'Courses List' %}</h5>
						{% if can_create_course %}
							<a href="{% url 'main_app:new_course' %}" class="btn btn-sm btn-primary"><i class="fas fa-plus mr-1"></i>
								<span>{% trans 'Create Course' %}</span></a>{% endif %}
					</div>
				</div>
				{#				<div class="card-header d-flex align-items-center">#}
				{#					<form class="form-inline search-group mr-auto">#}
				{#						<i class="fas fa-search search-icon"></i>#}
				{#						<input class="form-control form-control-sm search-field" placeholder="Search"/>#}
				{#					</form>#}
				{#					<form class="form-inline">#}
				{#						<small class="mr-2 text-muted">Status</small>#}
				{#						<select class="form-control form-control-sm search-field" placeholder="Search">#}
				{#							<option>All</option>#}
				{#						</select>#}
				{#					</form>#}
				{#				</div>#}
				<div class="card-body p-0">
					<table class="table clickable">
						<thead class="thead-light">
						<tr>
							<th class="p-0"></th>
							<th scope="col" class="align-middle border-top-0 text-muted">
								<small>{% trans 'Course Code' %}</small>
							</th>
							<th scope="col" class="status align-middle border-top-0 text-muted">
								<small>{% trans 'Credit Hours' %}</small>
							</th>
							<th scope="col" class="status align-middle border-top-0 text-muted">
								<small>{% trans 'Last Edit' %}</small>
							</th>
							<th scope="col" class="status align-middle border-top-0 text-muted">
								<small>{% trans 'Maintainer' %}/{% trans 'Reviewer' %}</small>
							</th>
							<th scope="col" class="status align-middle border-top-0 text-muted">
								<small>{% trans 'Status' %}</small>
							</th>
							<th scope="col" class="align-middle border-top-0 text-muted">

							</th>
						</tr>
						</thead>
						<tbody>
						{% for course in courses %}
							<tr class="">
								<td class="align-middle text-right{% if course.recent_releases %} accordion-toggle{% endif %}" data-toggle="collapse" data-target="#demo{{ course.pk }}">
									<small class="text-muted">{% if course.recent_releases %}<i class="fas fa-caret-right mr-2"></i>{% endif %}<b>{{ course.current_version }}</b></small>
								</td>
								<td scope="row" class="align-middle">
									<p class="mb-0">
										{{ course }}
									</p>
								</td>
								<td class="align-middle">
									<p class="mb-0">
										{{ course.total_credit_hours }} {% trans 'hrs' %}
									</p>
								</td>
								<td class="align-middle">
									<p class="mb-0">
										<small>
											{{ course.last_edit }}
										</small>
									</p>
								</td>
								<td class="align-middle">
									<p class="mb-0">
										<small>
											{% maintainer course.code caretakers %}/{% reviewer course.code caretakers %}
										</small>
									</p>
								</td>
								<td class="status align-middle">
									<span class="badge badge-primary text-badge mr-auto">
										{% if course.can_be_reviewed and course.latest_release.camunda_task.name %}
											{{ course.latest_release.camunda_task.name }}<br>
											<small>{% trans "WITH" %} {% short_full_name course.latest_release.camunda_task.assignee %}</small>
										{% endif %}
									</span>
								</td>
								<td class="align-middle text-right">
									{% if course|can_be_edited:request.user %}
										<a href="{% url 'main_app:update_course' course.pk %}"
										   class="btn btn-sm btn-text"><i class="far fa-edit"></i> {% trans "Edit" %}</a>
									{% endif %}
									{% if course.can_be_reviewed %}
										<a href="{% url 'main_app:view_course_release' course.latest_release.pk %}" class="btn btn-sm btn-primary"><i class="fa fa-search-plus"></i> {% trans "Review" %}</a>
									{% endif %}
									{% if can_assign_caretakers %}
										<a href="{% url 'main_app:assign_caretakers' course.pk %}" class="btn btn-sm btn-warning"><i class="fa fa-user"></i> {% trans "Caretakers" %}</a>
									{% endif %}
								</td>
							</tr>
							{% for release in course.recent_releases %}
								<tr class="hiddenRow accordian-body collapse version-row" id="demo{{ course.pk }}">
									<td class="align-middle text-right">
										<small class="text-muted"><b>V{{ release.version }}</b></small>
									</td>
									<td scope="row" class="align-middle course-code">
										<p class="mb-0">
											{{ release.course.instance }}
										</p>
									</td>
									<td class="align-middle">
										<p class="mb-0">
											{{ release.course.total_credit_hours }} {% trans 'hrs' %}
										</p>
									</td>
									<td class="align-middle">
										<p class="mb-0">
											<small>
												{{ release.course.history_date }}
											</small>
										</p>
									</td>
									{% if release.approved is not None %}
										<td class="status align-middle">
											<span class="badge badge-{% if release.approved %}primary{% else %}danger{% endif %} text-badge mr-auto">{{ release.approved|yesno:"Approved,Rejected,Pending" }}</span>
										</td>
										<td class="align-middle text-right">
											<span class="badge badge-{% if release.approved %}primary{% else %}danger{% endif %} text-badge mr-auto"><small>{{ release.approved_on }}</small><br>{% trans "by" %} {{ release.approved_by }}</span>
										</td>
									{% else %}
										<td class="status align-middle">
											<span class="badge badge-warning text-badge mr-auto">{{ release.workflow_status }}</span>
										</td>
										<td class="align-middle text-right">
											<span class="badge badge-warning text-badge mr-auto">{{ release.pending_with }}</span>
										</td>
									{% endif %}
									<td></td>

								</tr>
							{% endfor %}
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock main_content %}
