{% extends 'main_app/generic_course_form.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block form-fields %}

{#	{% crispy form %}#}

	<!-- Course identification -->
	<div class="card mb-4 form-accordian completed">
		<div class="card-body p-0">
			<div class="card-header pl-3 pr-3 pt-2 pb-2 d-flex align-items-center border-0" data-toggle="collapse" data-target="#courseidentification" aria-expanded="false" aria-controls="courseidentification">
				<i class="fas fa-check check-icon"></i> <span class="mr-auto">{% trans 'Course Identification' %}</span>
				<i class="fas fa-caret-down"></i>
			</div>
			<div class="collapse show p-3 pt-4 pb-4" id="courseidentification">
				<div class="row">
					<div class="col-12">
						<div class="form-group">
							{{ form.title|as_crispy_field }}
						</div>
					</div>
					<div class="col-md-3 col-12">
						<div class="form-group">
							<div class="row">
								<div class="col-md-8 pr-1">
									{{ form.program_code|as_crispy_field }}
								</div>
								<div class="col-md-4 pl-1">
									{{ form.number|as_crispy_field }}
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-12">
						<div class="form-group">
							{{ form.location|as_crispy_field }}
						</div>
					</div>
					<div class="col-md-6 col-12">
						<div class="form-group">
							<div class="row">
								<div class="col-4 pr-1">
									{{ form.lecture_credit_hours|as_crispy_field }}
								</div>
								<div class="col-4 pl-2 pr-2">
									<div class="input-group">
										{{ form.lab_contact_hours|as_crispy_field }}
									</div>
								</div>
								<div class="col-4 pl-1">
									{{ form.total_credit_hours|as_crispy_field }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Course identification -->

	<!-- Requisites for this course -->
	<div class="card mb-4 form-accordian completed">
		<div class="card-body p-0">
			<div class="card-header pl-3 pr-3 pt-2 pb-2 d-flex align-items-center border-0" data-toggle="collapse" data-target="#requisites" aria-expanded="false" aria-controls="requisites">
				<i class="fas fa-check check-icon"></i> <span class="mr-auto">{% trans 'Requisites fFor This Course' %}</span>
				<i class="fas fa-caret-down"></i>
			</div>
			<div class="collapse show p-3 pt-4 pb-4" id="requisites">
				<div class="row">
					<div class="col-md-6 col-12">
						<div class="form-group">
							{{ form.prerequisite_courses|as_crispy_field }}
						</div>
					</div>
					<div class="col-md-6 col-12">
						<div class="form-group">
							{{ form.corequisite_courses|as_crispy_field }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Requisites for this course -->

	<!-- Mode of instruction -->
	<div class="card mb-4 form-accordian completed">
		<div class="card-body p-0">
			<div class="card-header pl-3 pr-3 pt-2 pb-2 d-flex align-items-center border-0" data-toggle="collapse" data-target="#mode-of-instruction" aria-expanded="false" aria-controls="mode-of-instruction">
				<i class="fas fa-check check-icon"></i> <span class="mr-auto">{% trans 'Mode Of Instruction' %}</span>
				<i class="fas fa-caret-down"></i>
			</div>
			<div class="collapse show p-3 pt-4 pb-4" id="mode-of-instruction">
				<div class="row">
					<div class="col-md-4 col-12">
						<div class="form-group bg-light p-3">
							{{ form.mode_of_instruction_in_class|as_crispy_field }}
						</div>
					</div>
					<div class="col-md-4 col-12">
						<div class="form-group bg-light p-3">
							{{ form.mode_of_instruction_other_desc }}
							{{ form.mode_of_instruction_other_desc.errors }}
							<div class="input-group mt-3">
								{{ form.mode_of_instruction_other }}
								{{ form.mode_of_instruction_other.errors }}
								<div class="input-group-append">
									<span class="input-group-text pl-2 pr-2 text-muted" id="mode-others">{% trans 'Max 100%' %}</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12">
						<div class="form-group">
							{{ form.mode_of_instruction_comments|as_crispy_field }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Mode of instruction -->

	<!-- Office hours -->
	<div class="card mb-4 form-accordian completed">
		<div class="card-body p-0">
			<div class="card-header pl-3 pr-3 pt-2 pb-2 d-flex align-items-center border-0" data-toggle="collapse" data-target="#office-hours" aria-expanded="false" aria-controls="office-hours">
				<i class="fas fa-check check-icon"></i>
				<span class="mr-auto">{% trans 'Office Hours' %} <sup class="text-danger">*</sup></span>
				<i class="fas fa-caret-down"></i>
			</div>
			<div class="collapse show p-3 pt-4 pb-4" id="office-hours">
				<div class="row">
					<div class="col-md-4 col-12">
						<div class="form-group">
							<div class="input-group">
{#								<input type="text" class="form-control" placeholder="e.g., 3 hrs" aria-label="" aria-describedby="mode-inclass">#}
								{{ form.weekly_office_hours }}
								{{ form.weekly_office_hours.errors }}
								<div class="input-group-append">
									<span class="input-group-text pl-2 pr-2 text-muted" id="mode-inclass">{% trans 'Min 3 hrs' %}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Office hours -->

{% endblock form-fields %}

{% block css %}
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet"/>
{% endblock css %}

{% block js %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
	<script type="application/javascript">
        $(document).ready(function () {
            $('.select2').select2();
        });
	</script>
{% endblock js %}